@import "/src/styles/colors.scss";
.card {
  position: relative;
  border-color: $primary-color;
  height: 25rem;
  overflow: auto;
  & .card-img-top {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  }
  & .break-line {
    height: 0.5px;
    background: $info-color;
    width: 90%;
    margin: 0 auto;
    opacity: 50%;
  }
  & .card-body {
    & .card-title {
      color: $primary-color;
      font-weight: 700;
      height: 2.5rem;
      display: block;
    }

    & .card-text {
      color: $dark-bale-color;
      height: 6rem;
    }
  }
}
