@import "/src/styles/colors.scss";
nav {
  border-bottom: 4px solid $bale-color;
  & .active-link {
    color: $primary-color;
    position: relative;
  }
  @media screen and (min-width: 992px) {
    & .active-link::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 50%;
      height: 5px;
      transform: translate(-50%);
      background-color: $primary-color;
      border-radius: 30px;
    }
  }
}
