<ng-container *ngIf="!recipe?.title"> No Data found </ng-container>

<div class="row gy-5" *ngIf="recipe?.title">
  <div class="col-12 col-lg-7">
    <div
      class="image-box rounded-5 overflow-hidden shadow-effect position-relative"
    >
      <img [src]="recipe.image" class="food-image" [alt]="recipe.title" />
      <div class="favorite-icon shadow-effect" (click)="addToFavorites(recipe)">
        <i
          class="fa"
          [ngClass]="isFavorite ? 'fa-heart' : 'fa-heart-o'"
          aria-hidden="true"
        ></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <div class="recipe-details">
      <h2 class="special-font">
        {{ recipe.title }}
      </h2>
      <h6 class="dark-bale-color">
        <span class="primary-color"> &#36; {{ recipe.pricePerServing }} </span>
        &#47; per serving
      </h6>
      <!-- inner html is to render the returned response as html so it doesn't show the tags -->
      <p
        class="recipe-details-content dark-bale-color"
        [innerHTML]="recipe.summary"
      ></p>
    </div>
    <div class="ingredients-badges">
      <h4 class="special-font mb-3">Ingredients</h4>

      <span
        class="badge badge-primary"
        *ngFor="let ingredient of recipe.extendedIngredients"
      >
        {{ ingredient.name }}
      </span>
    </div>
  </div>
  <div class="col-12">
    <h4 class="special-font mb-3">Instructions</h4>
    <!-- inner html is to render the returned response as html so it doesn't show the tags -->
    <p
      class="recipe-details-content dark-bale-color"
      [innerHTML]="recipe.instructions"
    ></p>
  </div>
</div>
