@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");
@import "/src/styles/colors.scss";

.pacifico-regular {
  font-style: normal;
}

/* You can add global styles to this file, and also import other style files */
.logo-box {
  width: 100px;
}

.special-font {
  font-family: "Pacifico", cursive;
}
.primary-color {
  color: $primary-color;
}

body {
  font-family: "Dekko", cursive;
}
