@import url("https://fonts.googleapis.com/css2?family=Dekko&display=swap");
@import "/src/styles/colors.scss";

// general behaviors
body {
  font-family: "Dekko", cursive;
}

// shared classes
.logo-box {
  width: 100px;
}

.special-font {
  font-family: "Pacifico", cursive;
}
.primary-color {
  color: $primary-color;
}
.shadow-effect {
  -webkit-box-shadow: 0px 0px 16px 0px $shadow-color;
  -moz-box-shadow: 0px 0px 16px 0px $shadow-color;
  box-shadow: 0px 0px 16px 0px $shadow-color;
}
.favorite-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  color: $dark-bale-color;
  background-color: $light-color;
  cursor: pointer;

  & .fa-heart {
    color: $primary-color;
  }
}

.dark-bale-color {
  color: $dark-bale-color;
}

