.pacifico-regular {
  font-style: normal;
}

/* You can add global styles to this file, and also import other style files */
.logo-box {
  width: 100px;
}

.special-font {
  font-family: "Pacifico", cursive;
}
