<form (ngSubmit)="searchRecipe()">
  <div
    class="d-flex special-font search-container justify-content-center align-items-center rounded-5 shadow-effect"
  >
    <i class="fa fa-search me-1" aria-hidden="true"></i>
    <input
      class="form-control w-50 me-2 border-0"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="searchValue"
      [(ngModel)]="searchValue"
      (keyup.enter)="searchRecipe()"
    />
    <button class="btn btn-dark rounded-5" type="submit">Search</button>
  </div>
</form>
